container{
    display: flex;
    justify-content: center;
    align-items: center;
}
subcontainer{
    font-family: 'M PLUS Code Latin';
    text-align: center;
}
.title{
font-size: 1.6rem;
}

label{
    display:  none;

}
input{
    width: 50vw;
    display: block;
    margin: 16px;
}