/* Default View */
header {
    width: 100%;
    position: sticky;
    z-index: 2;
    font-family: 'M PLUS Code Latin', sans-serif;
    background-color: #f1f1f1;
}

container {
    margin: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.logo {
    margin: auto 0;
    color: #03045e;
    font-size: 2rem;
}

.desktop-item {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.nav-list,
.login-btn {
    text-decoration: none;
    padding: 4px;
    color: #03045e;
    font-size: 1.02rem;
}

.nav-list:hover {
    text-decoration: underline;
}

.login-btn {
    padding: 8px 16px;
    background-color: #03045e;
    color: #f1f1f1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #03045e;
    transition: color, background-color ease-in-out 400ms;
    -moz-transition: color, background-color ease-in-out 400ms;
    -ms-transition: color, background-color ease-in-out 400ms;
    -o-transition: color, background-color ease-in-out 400ms;
    -webkit-transition: color, background-color ease-in-out 400ms;
}

.login-btn:hover {
    background-color: #f1f1f1;
    color: #03045e;
    border: 1px solid #03045e;
}

.menu {
    font-size: 2rem;
    cursor: pointer;
    padding: 4px;
    color: #03045e;
}

.menu-close {
    display: none;
    padding: 4px 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 64px;
    left: 0%;
    width: 100%;
    margin: 0;
}

.dropdown-content a {
    background-color: hsl(239, 50%, 40%);
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #f1f1f1;
    font-size: 1.02rem;
    transition: color,
        background-color ease-in-out 200ms;
}

.dropdown-content a:hover {
    background-color: #03055e;
}

/* Mobile View { 599px - Downward } */
@media screen and (max-width: 599px) {
    .desktop-item {
        display: none;
    }

}

/* Desktop View { 600px - Upward } */

@media screen and (min-width: 600px) {
    .mobile-item {
        display: none;
    }
}